@tailwind base;
@tailwind components;
@tailwind utilities;

  ::-webkit-scrollbar {
    width: 10px; /* عرض اسکرول‌بار */
  }
  
  /* مسیر یا track اسکرول‌بار */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* رنگ پس‌زمینه‌ی مسیر */
    border-radius: 10px; /* گوشه‌های گرد */
  }
  
  /* دسته یا thumb اسکرول‌بار */
  ::-webkit-scrollbar-thumb {
    background: #e2bb58; /* رنگ دسته */
    border-radius: 10px; /* گوشه‌های گرد */
  }
  /* وقتی ماوس روی دسته اسکرول‌بار قرار می‌گیرد */
  ::-webkit-scrollbar-thumb:hover {
    background: #d19d1e; /* رنگ دسته در حالت hover */
  }
  .hero {
    /* تعریف شکل هلالی برای عنصر در بالا */
    clip-path: ellipse(70% 100% at 50% 0%);
    /* تنظیمات برای تصویر پس‌زمینه */
    background-image: url(./img/عکس\ وکیل\ هوش.png);
    height: 300px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  
  }
  
  
  
  

.footer{
    text-align: center;
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    color: white;
    padding: 20px;
    border-radius: 40px 40px 0 0 ;
}
.footer i{
    margin: 0 5px;
    font-size: 19px;
}

.rang2{
  
  background: radial-gradient( circle farthest-corner at 10% 20%, rgba(37, 130, 251, 0.98) 0.1%, rgb(81, 0, 128) 99.8% );
 
}


.hover-btn {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
  color: #ffffff; /* رنگ متن دکمه */
  border: none;
  position: relative; /* تغییر موقعیت دکمه به relative برای استفاده از box-shadow */
}

.hover-btn:hover {
  box-shadow: 0 0 20px 5px rgba(6, 8, 170, 0.7); /* ایجاد سایه به عنوان نور هنگام هاور */
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(4, 247, 234) 0%, rgb(3, 86, 241) 90% );
}




.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}





.my-slider {
  width: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#product-title {
  font-size: 2rem;  /* اندازه فونت را بزرگتر کنید */
  font-weight: bold;  /* عنوان را بولد کنید */
  text-align: center;  /* متن را در مرکز تراز کنید */
  color: #333;  /* رنگ متن را تنظیم کنید */
  margin: 0 auto;  /* حاشیه های چپ و راست را به طور خودکار تنظیم کنید */
  padding: 1rem 2rem;  /* حاشیه بالا و پایین را تنظیم کنید */
  border: 2px solid #ddd;  /* یک حاشیه به عنوان جداکننده اضافه کنید */
  border-radius: 10px;  /* گوشه های عنوان را گرد کنید */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  /* سایه ای برای برجسته کردن عنوان اضافه کنید */
  transition: all 0.3s ease-in-out;  /* انیمیشن برای تغییر اندازه و رنگ */
  border: 2px solid #ddd;
  border-radius: 10px;
  animation: border-color 2s linear infinite;
}

#product-title:hover {
  font-size: 2.2rem;  /* اندازه فونت را هنگام هاور افزایش دهید */
  color: #000;  /* رنگ متن را هنگام هاور تغییر دهید */
}


@keyframes border-color {
  0% {
    border-color: #ddd;
  }
  25% {
    border-color: #f15d08;
  }
  50% {
    border-color: rgb(216, 73, 7);
  }
  75% {
    border-color: rgb(255, 115, 0);
  }
  100% {
    border-color: #ddd;
  }
}
